body {
  margin: 0;
padding: 0;
font-family: "Rubik", system-ui;
overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar a.active hr{
  display: block;
}
::-webkit-scrollbar{
  display: none;
}
@media (max-width:640px) {
  a.active{
    background-color: black;
    color: white;
  }
}